.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  color: white;
  padding: 10px;
}

.App-title {
  font-size: 1em;
  margin: 0;
}

.App-intro {
  font-size: large;
}
.field {
  display: flex;
  flex-wrap: wrap;
  width: 150px;
  border: 1px solid gray;
  margin: 50px auto;
}
.field-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 50px;
  height: 50px;
  border: 1px solid gray;
  padding: 0;
  outline: none;
  overflow: hidden;
}

.field-btn--player-1:before,
.field-btn--player-1:after {
  position: absolute;
  left: 25px;
  content: " ";
  height: 33px;
  width: 2px;
  background-color: #333;
  transform: rotate(45deg);
}
.field-btn--player-1:after {
  transform: rotate(-45deg);
}

.field-btn--player-0::before {
  content: "";
  width: 33px;
  height: 33px;
  border: 2px solid #333;
  border-radius: 50%;
}

.winner-btn.field-btn--player-1::before,
.winner-btn.field-btn--player-1::after {
  background-color: hotpink;
}
.winner-btn.field-btn--player-0::before {
  border-color: hotpink;
}

.hidden {
  display: none;
}
